* {
  padding: 0;
  margin: 0;
}

/* Configurações de posicionamento do header */
.menu {
    display: flex;
    gap: 15px;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu a:hover {
  color: white;
}
.header {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;

    padding-top: 10px;
}

/* Configurações de posicionamento da main */
.name{
  display: flex;
  justify-content: space-around;

  padding-top: 10px;
}
.container {
  margin: auto;
  width: 80%;
  display: flex;
  padding-top: 25px;
  align-content: flex-start;
  align-items: center;
}
body {
  width: 80%;
  margin: auto;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(146, 244, 192, 1) 0%,
    rgba(2, 44, 22, 1) 100%
  );
  background-repeat: no-repeat;
}
.meu-nome {
    font-family: "Inter", sans-serif;
}
.selfie-img {
  border: 5px solid forestgreen;
  width: 35%;
  height: 50%;
}
.destaque-span {
  font-style: italic;
  color: forestgreen;
}
.discription {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 70px;
}
h2 {
    color: forestgreen;
    padding-bottom: 5px;
}
.habilidades {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
ul {
    list-style: none;
}
ul > li:nth-child(odd){
  color: white;
  font-weight: bold;
}
li {
  font-size: 18px;
}
p {
  font-size: 24px;
}
strong {
    color: forestgreen;
}

/* Configurações do rodapé */
.rodape {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.rodape a {
  padding-top: 20px;

  text-decoration: none;
  color: black;
}
.rodape a:hover {
  color: white;
}
@media (min-width: 300px) {
  body{
    width: 90%;
  }
  .header{
    display: flex;
    justify-content: center;
  }
  .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .discription{
    padding: 0;
    font-size: 18px;
  }
  p{
    font-size: 18px;
  }
  .habilidades h2{
    font-size: 18px;
  }
  .selfie-img{
    width: 100%;
    height: 100%;
  }
  .name h1{
    text-align: center;
    font-size: 18px;
  }
  .menu a{
    font-size: 12px;
  }
  .rodape a{
    padding-bottom: 20px;
    color: white;
  }
}
@media (min-width:700px) {
  .selfie-img{
    width: 30%;
    height: 50%;
  }
  .container{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .name h1{
    font-size: 24px;
  }
}