* {
  padding: 0;
  margin: 0;
}

/* Configurações de posicionamento do header */
.menu {
    display: flex;
    gap: 15px;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu a:hover {
  color: white;
}
.header {
    margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

/* Configurações de posicionamento da main */
.container {
  display: flex;
  padding-top: 25px;
  align-content: flex-start;
  align-items: center;
}
body {
  width: 1000px;
  margin: auto;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  min-width: 100vh;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(146, 244, 192, 1) 0%,
    rgba(2, 44, 22, 1) 100%
  );
  background-repeat: no-repeat;
}
.meu-nome {
    font-family: "Inter", sans-serif;
}
.selfie-img {
  border: 5px solid forestgreen;
}
.destaque-span {
  font-style: italic;
  color: forestgreen;
}
.discription {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 70px;
}
h2 {
    color: forestgreen;
    padding-bottom: 5px;
}
.habilidades {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
ul {
    list-style: none;
}
li {
  font-size: 18px;
}
p {
  font-size: 24px;
}
strong {
    color: forestgreen;
}

/* Configurações do rodapé */
.rodape {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.rodape a {
  padding-top: 20px;

  text-decoration: none;
  color: black;
}
.rodape a:hover {
  color: white;
}
